.title20_bold {
  font-size: 20px;
  font-weight: 700;
}

.paragraph16_semibold {
  font-size: 16px;
  font-weight: 600;
}

.paragraph20_medium {
  font-size: 20px;
  font-weight: 500;
}

.paragraph16_regular {
  font-size: 16px;
  font-weight: 400;
}

.primary {
  color: #ffff;
}

.subtitle {
  color: #cac8c8;
}
